<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Bevillingsskrivelse</title>
    </head>
    <body>
        
        <main>

            <article>

		    <h1 style="font-size: 2rem; margin: 0 0 2rem;">Bevillingsskrivelse<br> til foranstaltningssag {{appropriation.sbsysid}}</h1>

                <dl id="appropriation-details">
                    <dt>Status</dt>
                    <dd style="border-bottom: 1px solid #fff; padding-bottom: 1rem;">
		    <strong>{{appropriation.status|title}} {{appropriation.modified}}</strong>
                    </dd>
                    <dt>Bevillingskompetence</dt>
                    <dd>
		    {{appropriation.approval_level.name}}
                    </dd>
		    <dt>Bevilget efter paragraf §</dt>
                    <dd>
		    {{appropriation.section.paragraph}} {{appropriation.section.kle_number}} {{appropriation.section.text}}
                    </dd>

		    <dt>SBSYS-skabelon-ID</dt>
		    <dd>1230etellerandet</dd>
                </dl>

                <aside id="case-details">

                    <h2 style="padding-top: 0;">Relateret til hovedsag</h2>

                    <dl>
                        <dt>SBSYS ID</dt>
                        <dd>
			{{appropriation.case.sbsys_id}}
                        </dd>
                        <dt>Sagspart</dt>
                        <dd>
			{{appropriation.case.name}}<br>
			{{appropriation.case.cpr_number}}
                        </dd>
                        <dt>Betalingskommune</dt>
                        <dd>
			{{appropriation.case.paying_municipality.name}}
                        </dd>
                        <dt>Handlekommune</dt>
                        <dd>
			{{appropriation.case.acting_municipality.name}}
                        </dd>
                        <dt>Bopælskommune</dt>
                        <dd>
			{{appropriation.case.residence_municipality.name}}
                        </dd>
                    </dl>

                </aside>

                <hr style="clear: both; width: 100%;">

                <h2 style="font-size: 1.5rem;">Bevilgede ydelser</h2>

                <table>
                    <thead>
                        <tr>
                            <th>Aktivitet</th>
                            <th>Periode</th>
                            <th class="align-right">Udgift</th>
                            <th class="align-right">Udgift,<br> indeværende år</th>
                            <th class="align-right">Udgift,<br> årligt</th>
                            <th>Udbetales til</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-muted">Foranstaltningsydelse<br> <em>Anden hjælp efter § 52,3,9</em></td>
                            <td>30. juli 2019 - 30. januar 2020</td>
                            <td class="align-right">pr måned<br> 30.000 kr</td>
                            <td class="align-right">150.000 kr</td>
                            <td class="align-right">360.000 kr</td>
                            <td>
                                <dl>
                                    <dt>Firma</dt>
                                    <dd>Magenta ApS</dd>
                                    <dt>CVR</dt>
                                    <dd>XXXXXXXXXXX</dd>
                                    <dt>Betalingsform</dt>
                                    <dd>Faktura</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-muted">Følgeydelse<br> <em>Beklædning</em></td>
                            <td>30. juli 2019 -</td>
                            <td class="align-right">enkeltydelse<br> 500 kr</td>
                            <td class="align-right">500 kr</td>
                            <td class="align-right">-</td>
                            <td>
                                <dl>
                                    <dt>Intern</dt>
                                    <dd>Børnehuset</dd>
                                    <dt>Reference</dt>
                                    <dd>XXXXXXXXXXX</dd>
                                    <dt>Betalingsform</dt>
                                    <dd>Intern afregning</dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-muted">Følgeydelse<br> <em>Dagbehandlingstilbud</em></td>
                            <td>30. juli 2019 - 12. oktober 2019</td>
                            <td class="align-right">pr døgn<br> 200 kr</td>
                            <td class="align-right">46.500 kr</td>
                            <td class="align-right">73.000 kr</td>
                            <td>
                                <dl>
                                    <dt>Privatperson</dt>
                                    <dd>Morten Koch</dd>
                                    <dt>CPR</dt>
                                    <dd>XXXXXXX-XXXX</dd>
                                    <dt>Betalingsform</dt>
                                    <dd>SDLøn</dd>
                                    <dt>Skattekort</dt>
                                    <dd>Bikort</dd>
                                </dl>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </article>

        </main>

        <footer></footer>

    </body>
</html>

