# RTD demands requirements in ONE file only.
-r requirements.txt
tox==3.12.1
black==19.3b0
pytest==4.6.3
pytest-django==3.5.0
pytest-cov==2.7.1
flake8==3.7.7
pydocstyle==5.0.1
parameterized==0.7.0
freezegun==0.3.12
Sphinx==2.0.1
sphinxcontrib-websupport
sphinx_rtd_theme
sphinxcontrib_django==0.5

uritemplate==3.0.1
# pyyaml==5.3
git+https://github.com/syre/pyyaml@yaml-add-decimal-representer#egg=pyyaml
sphinxcontrib-openapi==0.6.0
# ^ These are requirements for openapi
# |