Django==3.2.12
portion==2.1.5
psycopg2-binary==2.8.6
gunicorn==20.1.0
djangorestframework==3.12.4
django-extensions==3.1.2
django-simple-history==2.12.0
git+https://github.com/magenta-aps/service_person_stamdata_udvidet@0.2.2
django-filter==21.1
djangorestframework_simplejwt==4.6.0
whitenoise==5.2.0
ipython==8.10.0
WeasyPrint==52.4
python-dateutil==2.8.1
django-constance[database]==2.8.0
drf-writable-nested==0.6.3
git+https://github.com/magenta-aps/django-saml2-auth@2.2.6#egg=django-saml2-auth
pysaml2==6.4.1
# Use latest development commit of django-mailer while we wait for
# https://github.com/pinax/django-mailer/pull/155 to be included in a release
git+https://github.com/pinax/django-mailer@41db3e2
holidays==0.11.1
django-watchman==1.2.0
django-currentuser==0.5.3
prometheus-client==0.10.1
git+https://github.com/magenta-aps/virk.dk@1.2.1#egg=virk_dk
graphene-django==2.15.0
graphene-django-optimizer==0.8.0
lxml==4.6.3
Markdown==3.3.6