Django==2.2.16
portion==2.1.4
psycopg2-binary==2.8.6
gunicorn==20.0.4
djangorestframework==3.12.2
django-extensions==3.1.0
django-simple-history==2.12.0
django-filter==2.4.0
# ^ This is a requirement for "djangorestframework-filters"
# |
djangorestframework-filters==1.0.0.dev2
git+git://github.com/magenta-aps/service_person_stamdata_udvidet@0.2.0
djangorestframework_simplejwt==4.6.0
whitenoise==5.2.0
ipython==7.19.0
WeasyPrint==52.1
python-dateutil==2.8.1
django-constance[database]==2.8.0
drf-writable-nested==0.6.2
git+https://github.com/magenta-aps/django-saml2-auth@2.2.4#egg=django-saml2-auth
pysaml2==6.3.1
django-mailer==2.0.1
holidays==0.10.3
django-watchman==1.2.0
django-currentuser==0.5.2
prometheus-client==0.8.0
