# RTD demands requirements in ONE file only.
-r requirements.txt
tox==3.24.5
black==22.3.0
pytest==6.2.5
coverage==6.2
pytest-django==4.5.2
pytest-cov==3.0.0
flake8==4.0.1
pydocstyle==6.1.1
parameterized==0.8.1
freezegun==1.1.0
Sphinx==4.4.0
sphinxcontrib-websupport==1.2.4
sphinx_rtd_theme==1.0.0
sphinxcontrib_django==0.5.1
myst-parser==0.16.1
uritemplate==4.1.1
# pyyaml==5.3 use fork waiting for https://github.com/yaml/pyyaml/pull/372
git+https://github.com/syre/pyyaml@yaml-add-decimal-representer#egg=pyyaml
sphinxcontrib-openapi==0.7.0
mistune==2.0.3 # sphinxcontrib-openapi==0.7.0 cannot work with the latest mistune version (2.0.0)
# ^ These are requirements for openapi
# |