# RTD demands requirements in ONE file only.
-r requirements.txt
tox==3.14.3
black==19.10b0
pytest==5.3.5
pytest-django==3.8.0
pytest-cov==2.8.1
flake8==3.7.9
pydocstyle==5.0.2
parameterized==0.7.1
freezegun==0.3.14
Sphinx==2.3.1
sphinxcontrib-websupport==1.1.2
sphinx_rtd_theme==0.4.3
sphinxcontrib_django==0.5.1

uritemplate==3.0.1
# pyyaml==5.3 use fork waiting for https://github.com/yaml/pyyaml/pull/372
git+https://github.com/syre/pyyaml@yaml-add-decimal-representer#egg=pyyaml
sphinxcontrib-openapi==0.6.0
sphinx-js==2.8
# ^ These are requirements for openapi
# |
