# This file contains system package dependencies. It is used for `apt-get` in
# Dockerfile and .gitlab-ci.yml. It is intended for the python:3.6 docker image
# which through buildpack-deps is based on Debian Stretch.

# Empty for now
build-essential
python3-dev
python3-cffi
libcairo2
libpango-1.0-0
libpangocairo-1.0-0
libgdk-pixbuf2.0-0
libffi-dev
shared-mime-info
xmlsec1
