# ┌───────── minute (0 - 59)
# │ ┌─────── hour (0 - 23)
# │ │ ┌───── day of the month (1 - 31)
# │ │ │ ┌─── month (1 - 12)
# │ │ │ │ ┌─ day of the week (0 - 6) (Sunday to Saturday)
# │ │ │ │ │
# * * * * * command to execute

5 0 * * * python manage.py export_to_prism

10 0 * * * python manage.py mark_fictive_payments_paid

* * * * * sh -c "python manage.py send_mail >> /log/cron_mail.log 2>&1"
*/20 * * * * sh -c "python manage.py retry_deferred >> /log/cron_mail_deferred.log 2>&1"
0 0 * * * sh -c "python manage.py purge_mail_log 7 >> /log/cron_mail_purge.log 2>&1"
