
# Copyright (C) 2019 Magenta ApS, http://magenta.dk.
# Contact: info@magenta.dk.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

################################################################################
# Changes to this file requires approval from Labs. Please add a person from   #
# Labs as required approval to your MR if you have any changes.                #
################################################################################

# ┌───────── minute (0 - 59)
# │ ┌─────── hour (0 - 23)
# │ │ ┌───── day of the month (1 - 31)
# │ │ │ ┌─── month (1 - 12)
# │ │ │ │ ┌─ day of the week (0 - 6) (Sunday to Saturday)
# │ │ │ │ │
# * * * * * command to execute

# Prism exports for a normal week:
# Monday (exports Tuesday payments)
# Tuesday (exports Wednesday payments)
# Wednesday (exports Thursday payments)
# Thursday (exports Friday, Saturday, Sunday, Monday)
5 0 * * 1-4 python manage.py export_to_prism

10 0 * * * python manage.py mark_fictive_payments_paid
15 0 * * * python manage.py generate_payments_report
20 0 * * * python manage.py send_expired_emails
25 0 * * * python manage.py renew_payments
30 0 * * * python manage.py recalculate_on_changed_rate

# Generate payment date exclusions monthly.
0 0 1 * * python manage.py generate_payment_date_exclusions

* * * * * sh -c "python manage.py send_mail >> /log/cron_mail.log 2>&1"
*/20 * * * * sh -c "python manage.py retry_deferred >> /log/cron_mail_deferred.log 2>&1"
0 0 * * * sh -c "python manage.py purge_mail_log 7 >> /log/cron_mail_purge.log 2>&1"
