
# Copyright (C) 2019 Magenta ApS, http://magenta.dk.
# Contact: info@magenta.dk.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

################################################################################
# Changes to this file requires approval from Labs. Please add a person from   #
# Labs as required approval to your MR if you have any changes.                #
################################################################################

# ┌───────── minute (0 - 59)
# │ ┌─────── hour (0 - 23)
# │ │ ┌───── day of the month (1 - 31)
# │ │ │ ┌─── month (1 - 12)
# │ │ │ │ ┌─ day of the week (0 - 6) (Sunday to Saturday)
# │ │ │ │ │
# * * * * * command to execute

# Prism exports
# Run export Monday to Friday which will generate exports for Tuesday to Saturday.
5 0 * * 1-5 python manage.py export_to_prism

# Run Sunday export on Friday
10 0 * * 5 python manage.py export_to_prism --date $(date +%Y%m%d --date="+1 day")

# Run Monday export on Friday
15 0 * * 5 python manage.py export_to_prism --date $(date +%Y%m%d --date="+2 day")

20 0 * * * python manage.py mark_fictive_payments_paid
25 0 * * * python manage.py generate_payments_report

* * * * * sh -c "python manage.py send_mail >> /log/cron_mail.log 2>&1"
*/20 * * * * sh -c "python manage.py retry_deferred >> /log/cron_mail_deferred.log 2>&1"
0 0 * * * sh -c "python manage.py purge_mail_log 7 >> /log/cron_mail_purge.log 2>&1"
